<!DOCTYPE html>
<html>
<head>
	<title>MusicApp - Song</title>
	<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
	<h1>MusicApp</h1>
	<h3>Song</h3>

	<form>  
		<table>
			<tr><td>Title</td><td>{{ data[1] }}</td></tr>
			<tr><td>Artist</td><td>{{ data[2] }}</td></tr>
			<tr><td>Album</td><td>{{ data[3] }}</td></tr>
			<tr>
				<!-- <td><input type="submit" value="Save" formaction="/new" formmethod="post"></td> -->
				<td>
					<input type="button" value="Delete" onclick="delete_button_clicked({{ data[0] }})">
				</td>
				<td><input type="submit" value="Back" formaction="/" formmethod="post"></td>
			</tr>
			<tr></tr>
		</table>
	</form>
	{% if saved == True %}
		<font color="green">SAVED!!!</font>
	{% elif saved == False %}
		<font color="red">ERROR!!!</font>
	{% endif %}
</body>
</html>
